.footer {
  background: var(--color-primary);
  text-align: center;
  margin-top: 3rem;
  padding: 3rem 0 7rem;
}

.footer > a, li > a {
  color: #40008a;
  
}

.footer__logo {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
  display: inline-block;
}